h1{
    text-align: center;
    color: crimson;
   
    background-color: white;
}
h2{
    text-align: center;
    color:black;
    border: solid;
    background-color: cyan;
}
.item{
    display:flex;
    flex-direction: row;
}
.item p{
    opacity: 1;
}
h3{
    text-align: center;
    color:purple;
    border:solid;
    border-color:black;
    background-color: white;
}
body{
  background-image:url('Heart.jpg') ;
}
.item:hover p {
    opacity : 0;
}
.item:hover img{
    opacity: 0.33%;
}
